.container{
    background-color: beige;
    width: 1200px;
    margin: 0 auto 0 auto;

}
header, footer {
    height: 100px;
    background-color: lightblue;
}
main {
    background-color: beige;
    flex-grow:1;
}
.container{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    height: auto !important;
    
}
html, body{
    height: 100%;
}
main {
    background-color: rgb(165, 192, 216);
    display: flex;
    flex-direction: row;
}
aside{
    background-color: rgb(155, 255, 255);
    width: 200px;
}